<!DOCTYPE html>
<html lang="ES">
<head>
	<title>CNT - Black Week</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" href="css/formulario.css" type="text/css">
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/ui-lightness/jquery-ui.css">
	<link rel="stylesheet" href="css/bootstrap.min.css" >
	<link rel="stylesheet" href="css/mdb.css" >

	<script type="text/javascript" src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js" ></script>
	<script src="js/mdb.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
	<script src="js/vue.js" ></script>
  <script src="js/vue-carousel-3d.min.js" ></script>
	
</head>

<body>
	<div class="container">
<div class="row" style="background-color: #F3D118;">
    <div class="col-2"></div>
    <div class="col-8"><img width="100%" class="img-fluid" src="images/blackweekHeader.png"></div>
    <div class="col-2"></div>

	
</div>

<div class="row">
	
		<div class="col-12" id="phones">
		
	  <carousel-3d :controls-visible="true" :clickable="true" :display="5" :width='280' :height='560' :border='0' style="background-color: transparent;">
	   <slide v-for="(slide, i) in slides" :index="0" >
	   <figure style="background-color: #080605">
	        <img width="100" src="images/phone1.png">
	      </figure>
	    </slide>
		<slide v-for="(slide, i) in slides" :index="1">
	    <figure style="background-color: #080605">
	        <img src="images/phone2.png">
	      </figure>
	    </slide>
		<slide v-for="(slide, i) in slides" :index="2">
	   <figure style="background-color: #080605">
	        <img src="images/phone3.png">
	      </figure>
	    </slide>
	    <slide v-for="(slide, i) in slides" :index="3">
	  <figure style="background-color: #080605">
	        <img src="images/phone4.png">
	      </figure>
	    </slide>
	    <slide v-for="(slide, i) in slides" :index="4">
	 <figure style="background-color: #080605">
	        <img src="images/phone5.png">
	      </figure>
	    </slide>
	    <slide v-for="(slide, i) in slides" :index="5">
     <figure style="background-color: #080605">
	        <img src="images/phone6.png">
	      </figure>
	    </slide>
	    <slide v-for="(slide, i) in slides" :index="6">
	   <figure style="background-color: #080605">
	        <img src="images/phone7.png">
	      </figure>
	    </slide>
        <slide v-for="(slide, i) in slides" :index="7">
       <figure style="background-color: #080605">
            <img src="images/phone8.png">
          </figure>
        </slide>
        <slide v-for="(slide, i) in slides" :index="8">
       <figure style="background-color: #080605">
            <img src="images/phone9.png">
          </figure>
        </slide>
        <slide v-for="(slide, i) in slides" :index="9">
       <figure style="background-color: #080605">
            <img src="images/phone10.png">
          </figure>
        </slide>
        <slide v-for="(slide, i) in slides" :index="10">
       <figure style="background-color: #080605">
            <img src="images/phone11.png">
          </figure>
        </slide>
	  </carousel-3d>
	</div>

</div>
<div class="row">
		<div class="col-md-2 col-lg-3 "></div>
			<div class="col-md-8 col-lg-6 text-center ">
				<img width="100%" src="images/pideloAl.png">
			</div>
		<div class="col-md-2 col-lg-3 "></div>

</div>
<div class="row">
	
	<div class="col-12">
		
		<img width="100%" src="images/footer.png">
	</div>
    <div class="col-12 text-center">
     <p style="font-size: 0.7em; color: #00A0E3;">Corporación Nacional de Telecomunicaciones © CNT lo que eres 2019. Todos los derechos reservados</p>   
       
    </div>
</div>



</div>


</div>
</div>
<script type="text/javascript">
			new Vue({
  el: '#phones',
  data: {
    slides: 1
  },
  components: {
    'carousel-3d': Carousel3d.Carousel3d,
    'slide': Carousel3d.Slide
  }
 
})



	</script>

	
</body>
</html>